<form>
    <label>Employee ID:</label>
    <input  name="employeeId" type="text">

    <label>Employee Number:</label>
    <input name="employeeNumber" type="text">

    <label>First Name:</label>
    <input  name="firstName" type="text">

    <label>Last Name:</label>
    <input  name="lastName" type="text">

    <label>Date of Birth:</label>
    <input  name="dateOfBirth" type="text">

    <label>Date of Joining:</label>
    <input  name="dateOfJoining" type="text">

    <label>Family:</label>
    <input  name="familyDTO" type="text">

    <label>Appearance:</label>
    <input  name="employeeAppearanceDTO" type="text">

    <label>Departments:</label>
    <input  name="departmentDTOS" type="text">

    <label>Education:</label>
    <input  name="educationDTOS" type="text">

    <label>Address:</label>
    <input  name="addressDTOS" type="text">

    <label>Employee Positions:</label>
    <input  name="employeePositionDTOS" type="text">

    <button type="submit">Submit</button>
  </form>
